.sidebar {
  width: 60px; /* Largeur par défaut de la barre latérale */
  transition: width 0.9s;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff; /* Couleur de fond en blanc */
  height: 500vh; /* Ajuster selon la hauteur souhaitée */
  color: #000; /* Couleur du texte en noir */

  &.open {
    width: 300px; /* Largeur de la barre latérale lorsqu'elle est ouverte */
  }

  .MuiIconButton-root {
    color: #000; /* Couleur des icônes en noir */
  }

  .MuiListItem-root {
    color: #000; /* Couleur du texte des éléments de liste en noir */
    padding-left: 10px; /* Réduit l'espace à gauche du texte pour le rapprocher de l'icône */

    &:hover {
      background-color: #f0f0f0; /* Couleur de survol à une nuance de gris clair */
    }
    
    .MuiListItemIcon-root {
      min-width: 50px; /* Largeur minimale pour l'icône */
    }
    
  }
  .MuiCollapse-root .MuiListItem-root {
    padding-left: 30px; /* Réduit l'espace à gauche pour les éléments de sous-menu */
  }
}
