.sidebar {
  width: 60px;
  transition: width 0.9s;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff; /* Changer la couleur de fond en blanc */
  height: 500vh;
  color: #000; /* Changer la couleur du texte en noir pour un bon contraste */

  &.open {
    width: 300px;
  }

  .MuiIconButton-root {
    color: #000; /* Changer la couleur des icônes en noir */
  }

  .MuiListItem-root {
    color: #000; /* Changer la couleur du texte des éléments de liste en noir */

    &:hover {
      background-color: #f0f0f0; /* Changer la couleur de survol à une nuance de gris clair */
    }
  }

  .MuiCollapse-root .MuiListItem-root {
    padding-left: 30px;
  }
}
